.button {
  background: $off-red;
  border: none;

  &__big {
    border-bottom: .6rem solid darken($off-red, 10%);
    color: white;
    font-weight: bold;
    font-size: $l-size;
    width: 100%;
    margin-bottom: $m-size;
    padding: 2.5rem;
    &:disabled {
      opacity: .7;
    }
  }

  &__small {
    border-bottom: .3rem solid darken($off-red, 10%);
    color: #fff;
    font-weight: 500;
    padding: $s-size;
  }
  &--link {
    background: none;
    color: $off-white;
    padding: 0;
  }

}

@media (min-width: $desktop) {
  .button__big{
    margin-bottom: $xl-size;
  }
}